@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'roboto',sans-serif;
    display: flex;
    margin: 0;
} 