@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
   box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
} 

canvas {
    border: 2px solid steelblue;
}

.toolbox {
    background-color: steelblue;
    border: 1px solid steelblue;
    display: flex;
    width: 804px;
    padding: 1rem;
}

.toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}

.toolbox > *:last-child {
    margin-left: auto;

}